@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar
{
    display: none;
}

.email-sent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.sent-icon {
    margin-bottom: 0.5rem;
    color: var(--color-primary);
}